<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\KeyboardPress\log.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WorkTimeMin" value="55"/><!--atstatyti i 50-->
    <add key="RestTimeMin" value="5"/><!--atstatyti i 5-->
    <!--<add key="CustomDbFileLocation" value="C:\Users\Val\GitHub\Repos\kp\KeyboardPress\KeyboardPress_Analyzer\"/>--> <!--empty=default (ten kur bin..exe)-->
    <!--<add key="CustomDbFileLocation" value="C:\Users\valentinasg\Desktop\GitHub\repos\kp\KeyboardPress\KeyboardPress_Analyzer\"/>-->
    <!--<add key="CustomDbFileLocation" value="C:\Users\Val\GitHub\Repos\kp\KeyboardPress\KeyboardPress_Analyzer\"/>-->
    <!--<add key="CustomDbFileLocation" value="C:\Users\valentinasg\Desktop\GitHub\Source\Repos\kp\KeyboardPress\KeyboardPress_Analyzer"/>-->
    <add key="CustomDbFileLocation" value=""/>
    <add key="PeriodicalDbSaveChanges" value="1"/>
    <add key="PeriodicalMemoryClean" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>